{% extends "gerenciador_testes/base.html" %}

{% block conteudo %}

{% if listaDePassos %}	
    <div style="display:block">
        <h3 style="float:left"> {{ casoTeste.titulo }} </h3>
        {% if not ex %}    
            <div class="btn-group" style="float:right; margin-top:15px">
                <a href="#myModal" role= "button" class="btn" data-toggle="modal" data-backdrop="true"><i class="icon-plus"></i></a>
            </div>
        {% endif %}
    </div>
    <br>
    <table class="table table-hover">
        <tr>
            <th style="text-align:center">Passo n</th>
            <th  style="text-align:left">Descricao</th>
            <th>Resultado Esperado</th>
        {% for passos in listaDePassos %}
    <tr> 
        <td style="text-align:center">{{ passos.nPasso }}</td>
        <td>{{ passos.desc }}</td>
        <td>{{ passos.resultExperado }}</td>
    </tr>
    {% endfor %}	    
{% else %}

<div class="alert alert-warning">
    <div style="display:block">        
        <a href="/gerenciador_testes/principal/" role="button" class="close" data-dismiss="alert">&times;</a>
        <i class="icon-ban-circle" style="float:left; margin-top:7px"></i>   
        <p>&nbsp;&nbsp;Sem passos cadastrados.</p>
    </div>
</div>
{% endif %}
</table>

{% if ex %}
    <div class="btn-toolbar" style="width:100%;  margin: 10px auto 0px auto; text-align: center; padding: 10px 0;">
        <div class="btn-group">
            <a href="registra/cancelar" class="btn btn-large">Cancelar</a>
        </div>
        <div class="btn-group">
            <a href="registra/passou" class="btn btn-large"><i class="icon-ok"></i>&nbsp;&nbsp;Passou</a>
        </div>
        <div class="btn-group">
            <a href="registra/falhou" class="btn btn-danger btn-large"><i class="icon-remove-circle icon-white"></i>&nbsp;&nbsp;Falhou</a>
        </div>
        <div class="btn-group">
            <a href="registra/sikuli" class="btn btn-large">Sikuli</a>
        </div>
    </div>
{% endif %}

{% endblock %}
