{% extends "gerenciador_testes/base.html" %}

{% block conteudo %}

{% if listaDePassos %}	
<h1> {{ casoTesteNome }} </h1>

<br>

<table>
    <tr>
        <th>Passo n</th>
        <th>Descricao</th>
        <th>Resultado</th>
    {% for passos in listaDePassos %}
    <tr> 
        <td>{{ passos.nPasso }}</td>
        <td>{{ passos.desc }}</td>
        <td>{{ passos.resultExperado }}</td>
    </tr>
    {% endfor %}	    
{% else %}
    <p>Sem caso de testes cadastrados.</p>
{% endif %}
</table>

{% endblock %}
