{% extends "gerenciador_testes/base.html" %}

{% block conteudo %}

{% if listaDePassos %}	
    <h3> {{ casoTesteNome }} </h3>
    <br>
    <table>
        <tr>
            <th>Passo n</th>
            <th>Descricao</th>
            <th>Resultado Esperado</th>
        {% for passos in listaDePassos %}
    <tr> 
        <td>{{ passos.nPasso }}</td>
        <td>{{ passos.desc }}</td>
        <td>{{ passos.resultExperado }}</td>
    </tr>
    {% endfor %}	    
{% else %}

<div class="alert alert-warning">
    <div style="display:block">        
        <a href="/gerenciador_testes/principal/" role="button" class="close" data-dismiss="alert">&times;</a>
        <i class="icon-ban-circle" style="float:left; margin-top:7px"></i>   
        <p>&nbsp;&nbsp;Sem passos cadastrados.</p>
    </div>
</div>
{% endif %}
</table>

{% if ex %}
  <a href="registra/passou" class="btn btn-large">passou</a>
{% endif %}

{% endblock %}
