{% extends "gerenciador_testes/base.html" %}

{% block conteudo %}



<div style="display:block">
    <h3 style="float:left">Casos de testes</h3>
    <div class="btn-group" style="float:right; margin-top:15px">
        <a href="#myModal" role= "button" class="btn" data-toggle="modal" data-backdrop="true"><i class="icon-plus"></i></a>
    </div>
</div>
            
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">    
    <form method="post" action="">{% csrf_token %}        
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" action="">×</button>
            <h3 id="myModalLabel">Adicionar um Caso de Teste</h3>
        </div>
        <div class="modal-body">
            {{ form.as_p }}
        </div> 
        <div class="modal-footer">
            <!--  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>-->
            <a href="" role= "button" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
            <button class="btn btn-primary" type="submit">Save changes</button>
        </div>
    </form>
</div>
            
            
            
            {% if listaCasoTestes %}
                <table class="table table-hover">
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    {% for casoDeTeste in listaCasoTestes %}
                        <tr>
                            <td> {{ casoDeTeste.id }}</td>
                            <td> <a href="/gerenciador_testes/{{ casoDeTeste.id }}/">{{ casoDeTeste.titulo }}</a></td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>Sem caso de testes cadastrados.</p>
            {% endif %}

{% endblock %}

{% block meuscript %}
    {% if form_has_any_errors %}
        $('#myModal').modal('show');
    {% endif %}
{% endblock %}

