{% extends "gerenciador_testes/base.html" %}

{% block conteudo %}



        <div style="display:block">
        		<h3 style="float:left">Casos de testes</h3>
        		<div class="btn-group" style="float:right; margin-top:15px">
                    <a class="btn" href="#"><i class="icon-plus"></i></a>
                </div>
        </div>
            
            
            
            
            {% if listaCasoTestes %}
                <table class="table table-hover">
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    {% for casoDeTeste in listaCasoTestes %}
                        <tr>
                            <td> {{ casoDeTeste.id }}</td>
                            <td> <a href="/gerenciador_testes/{{ casoDeTeste.id }}/">{{ casoDeTeste.titulo }}</a></td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>Sem caso de testes cadastrados.</p>
            {% endif %}




{% endblock %}
