{% extends "gerenciador_testes/base.html" %}

{% block conteudo %}



<div style="display:block">
    <h3 style="float:left">{{meuProjeto.nomeProjeto}} - Visão Geral</h3>
</div>

<table class="table table-hover">
    <tr>
        <th WIDTH="70" style="text-align: left">Métrica</th>
        <th WIDTH="30%" style="text-align: center">Resultado</th>
    </tr>
    <!--  
    <tr>
        <td style="text-align: left"> Total Projetos cadastrados:</td>
        <td style="text-align: center"> {{ totalProjetos }}</td>
    </tr>
    -->
    <tr>
        <td style="text-align: left"> Total Testes cadastrados:</td>
        <td style="text-align: center"> {{ totalTesteEmProjeto }}</td>
    </tr>
    <tr>
        <td style="text-align: left"> Resultado última execução:</td>
        {% if ultimaExecucao.resultado == 'passou' %}
            <td style="text-align:center;color:green"> <b style="color:green"> {{ ultimaExecucao.resultado }} </b></td>
        {% else %}
            <td style="text-align:center;color:green"> <b style="color:red"> {{ ultimaExecucao.resultado }} </b></td>
        {% endif %}
        
    </tr>
    <tr>
        <td style="text-align: left;"> Acumulado de falhas:</td>
        <td style="text-align: center"> {{ acumuladoFalhas }}</td>
    </tr>
    <tr>
        <td style="text-align: left"> Acumulado de sucesso:</td>
        <td style="text-align: center"> {{ acumuladoSucesso }}</td>
    </tr>
</table>

{% endblock %}

{% block meuscript %}
$(document).ready(function() {
    {% if form_has_any_errors %}
        $('#myModal').modal('show');
    {% endif %}
});

function limpaCamposAdicionaTesteCase()
{
    window.location = '.';
}   
{% endblock %}